<div class="page-header">
  <h1><%= @room.user.username + "'s " %>Chatroom <small>invite your friends for an instant place to chat</small></h1>
  <p> Link: <%= @room.uniqueURL %> </p>
</div>
<table class="table">
    <tbody>
      <% @messages.each do |m| %>
        <tr>
          <td><%= m.user.username %></td>
          <td><%= m.text %></td>
        </tr>  
      <% end %>
      
    </tbody>
</table>
<%= form_for :message, url: {action: :send_message }, html: {class: "form-inline", role: "form" } do |f| %>
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <%= f.text_field :text, class: "form-control", placeholder: "message" %>
      <span class="input-group-btn">
        <%= f.submit "send", class: "btn btn-default"  %>
        <%# <button type="button" class="btn btn-default">Send</button>%>
      </span>
    </div>
  </div>
</div>
<% end %>
